.btn-container{
  display: flex;
  overflow-x: auto;
  width: 500px;
}

button{
  font-weight: bold;
}

li{
  list-style: none;
}

.description {
  background-color: white;
  width: 75vw;
  margin-left: 12.5vw;
  border: grey solid 1px;
  border-radius: 10px;
}